################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Gruzownik.Web/bin/Debug/netcoreapp2.1
/Gruzownik.Web/obj
